Source: ros-kinetic-kdl-typekit
Section: misc
Priority: extra
Maintainer: Orocos Developers <orocos-dev@lists.mech.kuleuven.be>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-ocl, ros-kinetic-orocos-kdl, ros-kinetic-rtt
Homepage: http://ros.org/wiki/kdl_typekit
Standards-Version: 3.9.2

Package: ros-kinetic-kdl-typekit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-ocl, ros-kinetic-orocos-kdl, ros-kinetic-rtt
Description: This package contains the KDL RTT bindings
